<!DOCTYPE html>
<html>
<head>
    <title>Добавление группы</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление группы</h1>
     <form method="POST">
		<label>id эксперемента</label><br>
        <input name="exp_id"   class="field" /><br><br>
        <label>Название</label><br>
        <input name="name" class="field"/><br><br>
        <label>Описание</label><br>
        <input name="description"  class="field"  /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку эксперементов</a>
</body>
<html>