<!DOCTYPE html>
<html>
<style>
body{
	font-family: Verdana;
	}	
input[type=submit]{ 
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}
input[class=field]
	{
	   border-color: black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;}
	</style>
<head>
    <title>Редактирование эксперимента</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование эксперимента</h1>
     <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
        <label>Название</label><br>
        <input name="name" value="{{user.name}}"  class="field" /><br><br>
        <label>Описание</label><br>
        <input name="description" value="{{user.description}}"  class="field" /><br><br>
        <input type="submit" value="Сохранить" />
     </form>
     <a href="/">К списку Эксперементов</a>
</body>
<html>