<!DOCTYPE html>
<html>
<head>
    <title>Редактирование эксперемента</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Редактирование эксперемента</h1>
     <form action="/editgrp" method="POST">
        <input type="hidden" name="id" value="{{user.id}}" />
		<label>id эксперемента</label><br>
        <input name="exp_id" value="{{user.exp_id}}"  class="field" /><br><br>
        <label>Название</label><br>
        <input name="name" value="{{user.name}}"  class="field" /><br><br>
        <label>Описание</label><br>
        <input name="description" value="{{user.description}}"  class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку Эксперементов</a>
</body>
<html>