<!DOCTYPE html>
<html>
<head>
 <title>Список</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
{{#each item}}
		<br></br>
            <form action="/expfold/{{this}}" method="POST" style="display:inline;">
						{{this}}
                        <input type="submit" value="Просмотр файлов" />
            </form>
        {{/each}}
</body>
<html>