<!DOCTYPE html>
<html>
<style>
body{
	font-family: Verdana;
	}	
input[type=submit]{ 
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}
input[class=field]
	{
	   border-color: black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;}
	</style>
<head>
 <title>Список</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
{{#each item}}
		<br></br>
            <form action="/opnimg/{{this}}" method="POST" style="display:inline;">
						{{this}}
                        <input type="submit" value="Открыть изображение" />
            </form>
			
        {{/each}}
		<br></br>
		 <form action="/loadarhive" method="POST" style="display:inline;">
					<input type="submit" value="Загрузить архив" />
			 </form>
</body>
<html>