<!DOCTYPE html>
<html>
<style>

body{
	font-family: Verdana;
	}
	table {
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 14px;
		border-radius: 10px;
		border-spacing: 0;
		text-align: center;
		}
	
		th {
background: #BCEBDD;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: #F8E391;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}
input[type=submit]
{
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}


input[type=file]{ 
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;
}
input[class=field]
	{
	   border-color: black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 8px;}
	
}
</style>
<head>
    <title>Список Экспериментов</title>
    <meta charset="utf-8" />
	<style>.field{width:180px;}</style>
</head>
<body>

	<form action="/create"  style="display:inline;">
                        <input type="submit" value="Добавить эксперимент" />
                    </form>
	<br></br>
    <table>
        <tr><th>id</th><th>Название</th><th>Описание</th><th></th></tr>
        {{#each exp}}
            <tr>
				<td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
					<form action="/edit/{{this.id}}"  style="display:inline;">
                        <input type="submit" value="Редактировать" />
                    </form>
                    
                    <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Удалить" />
                    </form>
					<form action="files/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Просмотр файлов" />
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
	<br></br>

	<form action="/creategrp"  style="display:inline;">
                        <input type="submit" value="Добавить группу" />
                    </form>
	<br></br>
    <table>
        <tr><th>id</th><th>id експеримента</th><th>Название</th><th>Описание</th><th></th></tr>
        {{#each group}}
            <tr>
				<td>{{this.id}}</td>
				<td>{{this.exp_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
				<form action="/editgrp/{{this.id}}"  style="display:inline;">
                        <input type="submit" value="Редактировать" />
                    </form>
                  
                    <form action="deletegrp/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
					
                </td>
            </tr>
        {{/each}}
    </table>
	<h1>Загрузить файл</h1>
		<form action="/path" method="post" >
			<label>experiment id</label><br>
				<input name="exp" class="field"/><br><br>
				<label>group id</label><br>
				<input name="grp"  class="field"  /><br><br>
			
			</form>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<input type="submit" value="Выберите файл" /><br><br>
				<!--<input type="file" name="Выберете файл" /><br><br> -->
				<input type="submit" value="Загрузить" />
			
				
      </form>
	  <form action="/files" method="post" >
		
	  </form>
</body>
<html>